@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-[18px] xl:text-[20px];
  }
  h1 {
    @apply text-[40px] xl:text-[65px] leading-[1.1] font-bold;
  }
  h2 {
    @apply text-[30px] xl:text-[40px] leading-[1.1] font-bold;
  }
  h3 {
    @apply text-[22px] xl:text-[24px] leading-[1.1] font-bold;
  }
}
